body{
    margin: 0;
    padding: 0;
    background-color:#77c5e9;
}

button{
    border : 0px;
    background: #60a1c0;
    color:white;
    padding: 15px 60px;
    border-radius: 500px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    font-weight: 200;
    box-shadow: 0 0 6px #548ca7;
    margin-right: 5px;
    margin-left: 5px;
}

button:active{
    box-shadow: 0 0 3px #548ca7;
}

input{
    border: 0px;
    background-color:  #60a1c0;
    padding: 10px 20px;
    border-radius: 10px;
    color:white;
    box-shadow: inset 0 0 10px #548ca7;
    width: 80px;
    font-weight: 800;
    font-size: 15px;
}

label{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    font-weight: 200;
    color:#60a1c0;
    
}


#page{

    display: flex;
    justify-content: center;
    padding-top: 40px;
}


#holder{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 35vw;

    border : 8px  #60a1c0 solid;
    border-radius: 10px;
    box-shadow: 0 0 5px #548ca7;
}

.pixelR{
    background-color: white;
    width: 100%;
    border : 1px grey solid;
}

.pixelR:hover{
    background-color: red;
}

.pixelC{
    display: flex;
    height: 100%;
}

.holder>.break{
    width:100vw;
}

#header{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#create{
    margin-top: 10px;
}

#button_grp{
    margin-top: 20px;
}