body{
    margin: 0;
    padding: 0;
    background-color:#3E4364;
}

button{
    border : 0px;
    background: #19CB94;
    color:#25293E;
    padding: 15px 60px;
    border-radius: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    box-shadow: 2px 2px 6px #2d3047;
    margin-right: 5px;
    margin-left: 5px;
    font-weight:600;
}

button:active{
    box-shadow: 1px 1px 0px #2d3047;}

input{
    border: 0px;
    background-color:  #19CB94;
    padding: 10px 20px;
    border-radius: 10px;
    color:#2d3047;
    box-shadow: inset 0 0 2px #2d3047;
    width: 80px;
    font-weight: 800;
    font-size: 15px;
}

label{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    font-weight: 200;
    color:#19CB94;
    
}


#page{

    display: flex;
    justify-content: center;
    padding-top: 40px;
}


#holder{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 35vw;

    border : 8px  #2d3047 solid;
    border-radius: 10px;
    box-shadow: 0 0 5px #181925;
}

.pixelR{
    background-color: white;
    width: 100%;
    border : 1px #2d3047 solid;
}

.pixelR:hover{
    background-color: red;
}

.pixelC{
    display: flex;
    height: 100%;
}

.holder>.break{
    width:100vw;
}

#header{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#create{
    margin-top: 10px;
}

#button_grp{
    margin-top: 20px;
}

.cls-button{
    background-color: #F06A73;
}